/* html5doctor.com Reset Stylesheet
 v1.6.1
 Last Updated: 2010-09-17
 Author: Richard Clark - http://richclarkdesign.com
 Twitter: @rich_clark
 */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, em, img, small, strong, b, i, ol, ul, li, table {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
}
h1, h2, h3, h4 {
	font-weight: normal;
}
h1 {
	font-size: 1.8em;
}
h2 {
	font-size: 1.5em;
}
h3 {
	font-size: 1.4em;
}
h4 {
	font-size: 1.2em;
}
a {
	text-decoration: none;
}
/*
Utility classes, can be used application wide
*/
.display-inline {
	display: inline-block;
}
.hide {
	position: absolute;
	left:-9999px;
}
.remove {
	display: none;
}
.colored-link-1 {

}
.colored-link-1:hover {
	cursor: pointer;
}
.colored-link-2 {
	color: #333;
}
.colored-link-2:hover {
	cursor: pointer;
	color: #fff;
}
/*
Header and navigation
*/
header {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #F59A38;
	background-image: url(../images/backgrounds/bg.png);
}
nav {
	width: 100%;
	max-width: 850px;
	margin: auto;
	position: relative;
}
nav > ul {
	display: inline-block;
	list-style: none;
}
nav > ul > li {
	display: inline-block;
	font-size: 1.1em;
}
#logo {
	position: absolute;
	margin: auto;
}
/*
Body and maincolumn
*/
#maincolumn {
	width:100%;
	margin-top: 50px;
}