.contact-message {
	margin-bottom: 10px;
	padding-top:10px;
	border-bottom: 1px solid #333;
}
.contact-text {
	margin: 15px 0 15px 10px !important;
}
.contact-message p {
	margin: 5px 0;
}
.contact-options a {
	margin-right: 5px;
}
.spam-holder {
	margin-top: 10px;
}
.content-padding ul {
	margin-top:30px;
}
#contact-lightbox {
	width:500px;
	top:150px;
	left:50%;
	margin-left:-150px;
	position:fixed;
	padding:10px 15px 10px 15px;
	background-color:#FAF7F7;
	z-index:6002;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	box-shadow: 0 4px 12px rgba(0,0,0,.4);
	display:none;
}
#contact-lightbox textarea {
	width:95%;
}